      <!-- Partners -->
      <section class="container py-5 ">
        <!-- Desktop: 3 in a row -->
        <div class="row g-4 justify-content-center d-none d-md-flex">
          <div class="col-md-4">
            <div class="card card-body px-4 d-flex align-items-center justify-content-center" style="height: 100px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvtbEbcsV9aIND4HY7y-DYyT23GRzg09fhBQ&s" class="img-fluid" style="max-height: 60px; object-fit: contain;" alt="MyInvestor">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-body px-4 d-flex align-items-center justify-content-center" style="height: 100px;">
              <img src="https://s03.s3c.es/imag/_v0/1200x628/d/1/1/Trade_Republic_analisis.jpg" class="img-fluid" style="max-height: 60px; object-fit: contain;" alt="Trade Republic">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-body px-4 d-flex align-items-center justify-content-center" style="height: 100px;">
              <img src="https://mms.businesswire.com/media/20230719260199/es/1845831/22/Quantfury_logo.jpg" class="img-fluid" style="max-height: 60px; object-fit: contain;" alt="Quantfury">
            </div>
          </div>
        </div>

        <!-- Mobile: simple stack -->
        <div class="d-md-none">
          <div class="row g-3">
            <div class="col-12">
              <div class="card card-body px-4 d-flex align-items-center justify-content-center" style="height: 100px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvtbEbcsV9aIND4HY7y-DYyT23GRzg09fhBQ&s" class="img-fluid" style="max-height: 60px; object-fit: contain;" alt="MyInvestor">
              </div>
            </div>
            <div class="col-12">
              <div class="card card-body px-4 d-flex align-items-center justify-content-center" style="height: 100px;">
                <img src="https://s03.s3c.es/imag/_v0/1200x628/d/1/1/Trade_Republic_analisis.jpg" class="img-fluid" style="max-height: 60px; object-fit: contain;" alt="Trade Republic">
              </div>
            </div>
            <div class="col-12">
              <div class="card card-body px-4 d-flex align-items-center justify-content-center" style="height: 100px;">
                <img src="https://mms.businesswire.com/media/20230719260199/es/1845831/22/Quantfury_logo.jpg" class="img-fluid" style="max-height: 60px; object-fit: contain;" alt="Quantfury">
              </div>
            </div>
          </div>
        </div>
      </section>
