<p style="color: green"><%= notice %></p>

<% content_for :title, "Pygs" %>

<h1>Pygs</h1>

<div id="pygs">
  <% @pygs.each do |pyg| %>
    <%= render pyg %>
    <p>
      <%= link_to "Show this pyg", pyg %>
    </p>
  <% end %>
</div>

<%= link_to "New pyg", new_pyg_path %>
